<router-outlet />

<h1>&#64;Input Exercises</h1>

<hr />

<h2>Exercise 1: Basic Input Binding</h2>

<app-message-display [message]="'Hello, Angular'"></app-message-display>

<hr />

<h2>Exercise 2: Input Transform and Type Conversion</h2>

<app-size-display [size]="40"></app-size-display>

<hr />

<h2>Exercise 3: Required Inputs and Input Aliases</h2>

<app-user-profile [user]="'George'"></app-user-profile>
<!-- <app-user-profile [username]="'George'"></app-user-profile> -->
<!-- Does not work -->
