<router-outlet />

<h2>Exercise 1: Basic Content Projection</h2>

<app-message-content>
  <p>***********************************************************</p>
  <h1>This is projected content</h1>
  <p>Projected Content Message..................................</p>
  <p>***********************************************************</p>
</app-message-content>

<hr />

<h2>Exercise 2: Multiple Content Placeholders</h2>
<app-profile-card>
  <img
    src="https://icons.iconarchive.com/icons/pictogrammers/material/256/angular-icon.png"
    card-avatar
  />
  <h3 card-name>Jane Doe</h3>
  <p card-description>Software Engineer at XYZ Corp.</p>
</app-profile-card>

<hr />

<h2>Exercise 3: Content Projection with Fallback Content</h2>

<button (click)="toggleModal()">
  {{ modalOpened ? "Close Modal" : "Open Modal" }}
</button>
<app-modal [hidden]="!modalOpened" (close)="toggleModal()">
  <h2 modal-title>Modal Title</h2>
  <p modal-body>This is the body of the modal.</p>
  <footer modal-footer>Modal Footer</footer>
</app-modal>

<hr />

<h2>Exercise 4: Dynamic Content Projection with Named Slots</h2>
